@font-face {
  font-family:Quicksand;
  font-weight:normal;
  font-style:normal;
  font-display:swap;
  src:url("/fonts/quicksand-medium-webfont.woff2") format("woff2"),
       url("/fonts/quicksand-medium-webfont.woff") format("woff"),
       url("/fonts/quicksand-medium-webfont.ttf") format("truetype");
}

@font-face {
  font-family:Kollektif;
  font-weight:normal;
  font-style:normal;
  font-display:swap;
  src:url("/fonts/kollektif-webfont.woff2") format("woff2"),
       url("/fonts/kollektif-webfont.woff") format("woff"),
       url("/fonts/kollektif-webfont.ttf") format("truetype");
}

:root {
  --font-family-base:Quicksand, sans-serif;
  --font-family-alt:Kollektif, sans-serif;

{% for token, value in tokens.colors %}
  --{{ token | hyphenate }}:{{ value }};
{%- endfor %}

  --button-bg:var(--color-button);
  --button-fg:var(--color-light);
  --button-border:var(--color-button);
  --button-hover-bg:var(--color-alt);
  --button-hover-fg:var(--color-button);
  --button-hover-border:var(--color-button);
  --button-focus:var(--color-primary);

  --radius:0.4rem;
  --button-radius:0.5rem;

  --disabled-bg:transparent;
  --disabled-fg:grey;
}

{% for token, value in tokens.colors %}
.{{ token | hyphenate | replace("color-", "bg-") }} { background-color:{{ value }} }
{%- endfor %}

.bg-alt {
  --button-fg:var(--color-light);
  --button-hover-bg:var(--color-light);
  color:var(--color-primary);
}

{% for token, value in tokens.colors %}
.{{ token | hyphenate }} { color:{{ value }} }
{%- endfor %}

{% for token, value in tokens.colors %}
.{{ token | hyphenate | replace("color-", "border-") }} { border:1px solid {{ value }} }
{%- endfor %}
.border-red { border:1px solid #FF0000 }
.border-green { border:1px solid #00FF00 }
.border-blue { border:1px solid #0000FF }

.border2 { border-width:2px }

article a { text-decoration:underline; }

a:link { color:var(--color-shade1); }
a:visited { color:var(--color-shade1); }
a:hover { color:var(--color-shade3); }
a:active { color:var(--color-shade3); }

.link-light a:link { color:var(--color-alt); }
.link-light a:visited { color:var(--color-alt); }
.link-light a:hover { color:var(--color-light); }
.link-light a:active { color:var(--color-light); }

a.button {
  text-decoration:none;
}

button {
  margin:0;
  border:none;
  background-color:transparent;
  font-family:inherit;
  font-size:var(--step-0);
  padding:0;
  cursor:pointer;
}

a.button,
button.button {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  background-color:var(--button-bg);
  color:var(--button-fg);
  border:3px solid var(--button-border);
  border-radius:var(--button-radius);
  text-align:center;
  text-transform:lowercase;
  line-height:1;
  font-family:var(--font-family-alt);
}

a.button:not(.icon-button),
button.button:not(.icon-button) {
  padding:0.6em 1.5em;
  min-height:44px;
}

@media (hover:hover) {
  a.button:active,
  button.button:active,
  a.button:hover,
  button.button:hover {
    --button-bg:var(--button-hover-bg);
    --button-fg:var(--button-hover-fg);
    --button-border:var(--button-hover-border);
  }
}

a.button:active,
button.button:active {
  transform:scale(0.95);
}

a {
  border:2px solid transparent;
}

a:focus,
button:focus {
  outline:2px solid transparent;
  box-shadow:0 0 0 2px currentcolor;
  border-radius:4px;
}

button:focus {
  box-shadow:0 0 0 2px var(--button-focus);
}

a.nofocus:focus,
.logo a:focus {
  box-shadow:none;
  border-radius:0;
}

a.button:focus,
button.button:focus {
  outline:2px solid transparent;
  box-shadow:0 0 0 2px var(--button-focus);
}

a.button[disabled], a.button[disabled]:hover, a.button[disabled]:focus, a.button[disabled]:active,
button.button[disabled], button.button[disabled]:hover, button.button[disabled]:focus, button.button[disabled]:active {
  cursor:not-allowed;
  background-color:var(--disabled-bg);
  color:var(--disabled-fg);
  border-color:var(--disabled-fg);
  box-shadow:none;
}

.button-icon {
  line-height:1;
  width:1em;
  height:1em;
  margin-right:0.5em;
}

a.icon-button,
button.icon-button {
  width:2.5rem;
  height:2.5rem;
  border-radius:50%;
  padding:0.45em;
}

.icon-button-icon {
  width:100%;
  height:100%;
}

.font-base { font-family:var(--font-family-base); }

.font-secondary { font-family:var(--font-family-alt); }

.font-size-4 { font-size:var(--step-4); }
.font-size-3 { font-size:var(--step-3); }
.font-size-2 { font-size:var(--step-2); }
.font-size-1 { font-size:var(--step-1); }
.font-size-0 { font-size:var(--step-0); }
.font-size--1 { font-size:var(--step--1); }
.font-size--2 { font-size:var(--step--2); }

body {
  color:var(--color-dark);
  background-color:var(--color-light);
  font-family:var(--font-family-base);
  font-weight:normal;
}

h1, h2, h3, h4 {
  font-family:var(--font-family-alt);
  font-weight:normal;
}

body { font-size:var(--step-0); }
article h1 { font-size:var(--step-3); }
aside h1 { font-size:var(--step-3); }
nav h1 { font-size:var(--step-3); }
section h1 { font-size:var(--step-3); }
h1 { font-size:var(--step-3); }
h2 { font-size:var(--step-2); }
h3 { font-size:var(--step-1); }
h4 { font-size:var(--step-0); }

.heading,
article h1,
article h2,
article h3,
article h4 {
  text-align:center;
  text-transform:lowercase;
  color:var(--color-shade2);
}

.bg-alt .heading,
.bg-alt article h1,
.bg-alt article h2,
.bg-alt article h3,
.bg-alt article h4 {
  color:var(--color-shade1);
}

.bigfonts p { font-size:var(--step-1); }
.bigfonts span { font-size:var(--step-1); }
.bigfonts a { font-size:var(--step-1); }
.bigfonts button { font-size:var(--step-1); }
.bigfonts h1 { font-size:var(--step-4); }
.bigfonts article h1 { font-size:var(--step-4); }
.bigfonts aside h1 { font-size:var(--step-4); }
.bigfonts nav h1 { font-size:var(--step-4); }
.bigfonts section h1 { font-size:var(--step-4); }
.bigfonts h2 { font-size:var(--step-3); }
.bigfonts h3 { font-size:var(--step-2); }
.bigfonts h4 { font-size:var(--step-1); }

::selection {
  background:rgba(0,0,0,0.2);
}

strong {
  color:var(--color-shade2);
  font-family:var(--font-family-alt);
  font-size:133%;
  display:inline;
  line-height:1;
}

.bg-alt strong {
  color:var(--color-shade1);
}
