window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#3D4844",
      "text": "#DDE2DD"
    },
    "button": {
      "background": "#DDE2DD",
      "text": "#3D4844"
    }
  },
  "theme": "classic",
  "content": {
    "message": "We use cookies to improve your browsing experience on our website, and to analyze our website traffic.",
    "dismiss": "Accept",
    "link": "Read our Cookie Policy",
    "href": "{{ site.url }}/cookie-policy/"
  }
});
