{% set folder = section.folder %}
{% set heading = section.heading %}
{% set alt_text = section.alt_text or site.alt %}
{% ifAsync folder %}
<section class="gallery-section{{ ' bg-alt' if (alternate_background_color) }}">
  <div class="wrapper page-wrapper">
    {% ifAsync heading %}<h2 class="heading" style="margin-bottom:1em">{{ heading }}</h2>{% endif %}

    <ul class="auto-grid gallery">

      {% set images = image_info | findFolder(folder) | shuffle %}

      {% for image in images -%}
        {% set image_path = image.url %}
        {% if image.aspect_ratio > 1.3 %}
          {% set aspect_ratio = "4:3" %}
          {% set width = "640" %}
          {% set height = "480" %}
        {% elif image.aspect_ratio > 0.76 %}
          {% set aspect_ratio = "1:1" %}
          {% set width = "320" %}
          {% set height = "320" %}
        {% else %}
          {% set aspect_ratio = "2:3" %}
          {% set width = "320" %}
          {% set height = "480" %}
        {% endif %}
        <li class="hover-scale aspect aspect{{ aspect_ratio | replace(':','x') }}">
          <figure style="background-image:url({% lqip path=image_path, params='/focus=auto/cover=' + aspect_ratio %})">
            <noscript><a href="{% twic path=image_path %}" style="height:100%;display:block"><img class="round border-alt" src="{% twic path=image_path, params='/focus=auto/cover=' + width + 'x' + height %}" alt="{{ alt_text }}" style="cursor:pointer" /></a></noscript>
            <img class="req-js round border-alt" data-twic-src="{% twic_dyn path=image_path %}" data-twic-focus="auto" data-twic-transform="cover" data-twic-step="10" data-twic-bot="cover={{ width }}x{{ height }}" alt="{{ alt_text }}" src="{% lqip path=image_path, params='/focus=auto/cover=' + aspect_ratio %}" onclick="openLightbox('#item{{ loop.index }}')" style="cursor:pointer" />
            {# <img class="round border-alt border2" src="{{ site.transgif }}" data-src="{{ site.cloudinary_url }}/c_fill,w_{{ width }},h_{{ height }},q_auto,f_auto,g_auto/{{ image.public_id }}" alt="{{ image.context.alt or site.alt }}" title="{{ image.context.alt or site.alt }}{% if image.context['Credit Name'] %} - Photo credit {{ image.context['Credit Name'] }}{% endif %}" width="{{ width }}" height="{{ height }}" onclick="openLightbox('#item{{ loop.index0 }}')" style="background-image:url({{ lqip_data }});cursor:pointer" loading="lazy" decoding="async" /> #}
          </figure>
        </li>
        {%- endfor %}
    </ul>

  </div>
</section>

{#
<div id="lightbox" class="slider-controls">
  <ul class="slider">
    {% for image in images -%}
      <li id="item{{ loop.index0 }}" class="slider-item">
        {% if image.aspect_ratio > 1 %}
          {% set lqip_path = site.cloudinary_url + "/c_scale,w_32,h_" + (32 / image.aspect_ratio) | round(0, 'ceil') + ",q_auto,f_jpg,e_blur:100/" + (image.public_id | stripVersion) %}
        {% else %}
          {% set lqip_path = site.cloudinary_url + "/c_scale,w_" + (32 * image.aspect_ratio) | round(0, 'floor') + ",h_32,q_auto,f_jpg,e_blur:100/" + (image.public_id | stripVersion) %}
        {% endif %}
        {% set lqip_data = lqip_path | imgLqip %}
        <figure class="horizontal center middle">
          {%- set srcset -%}
          {%- for size in image_sizes -%}
          {{ site.cloudinary_url }}/c_limit,w_{{ size }},h_{{ size }},q_auto,f_auto/{{ image.public_id }} {{ size }}w{{ ',' if not loop.last }}
          {%- endfor -%}
          {%- endset -%}
          <img src="{{ site.transgif }}" style="background-image:url({{ lqip_data }});background-size:contain" data-srcset="{{ srcset }}" sizes="{{ "100vh" if image.aspect_ratio < 1 else "100vw" }}" data-src="{{ site.cloudinary_url }}/c_limit,w_900,h_900,q_auto,f_auto/{{ image.public_id }}" alt="{{ image.context.alt or site.alt }}" title="{{ image.context.alt or site.alt }}{% if image.context['Credit Name'] %} - Photo credit {{ image.context['Credit Name'] }}{% endif %}" width="{{ image.width }}" height="{{ image.height }}" loading="lazy" decoding="async" />
          <figcaption class="wrapper text-wrapper">
            <div class="text-center text-shadow">
              <h4>{{ image.context.alt or site.alt }}</h4>
              <p class="link-light"><a href="{{ site.mailto_obf | safe }}?subject=Gallery%20Enquiry&amp;body=Hi%20Annwyn%0D%0A%0D%0A{{ image.context.alt or site.alt }}%0D%0A{{ site.cloudinary_url }}/c_limit,w_1200,h_1200,q_auto,f_auto/{{ image.public_id }}">Email Floriade about this image</a></p>
              <p class="link-light">
              {% if image.context['Credit Name'] %}
                {% if image.context['Credit Link'] %}
                  Photo credit <a href="{{ image.context['Credit Link'] | safe }}" target="_blank" rel="noopener">{{ image.context['Credit Name'] }}</a>
                {% else %}
                  Photo credit {{ image.context['Credit Name'] }}
                {% endif %}
              {% else %}
                &nbsp;
              {% endif %}
              </p>
            </div>
          </figcaption>
        </figure>
      </li>
      {%- endfor %}
  </ul>
  <nav class="toggle-captions" onclick="toggleCaptions()">
    <span role="button" title="Toggle Captions" aria-label="Toggle Captions">{{ '/src/svg/comment-o.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="close" onclick="closeLightbox()">
    <span role="button" title="Close" aria-label="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="prev" onclick="scrollToPrevItem('#lightbox')">
    <span role="button" title="Previous" aria-label="Previous">{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="next" onclick="scrollToNextItem('#lightbox')">
    <span role="button" title="Next" aria-label="Next">{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span>
  </nav>
</div>
#}
{% endif %}
