{% set folder = section.folder %}
{% set heading = section.heading %}
{% set alt_text = section.alt_text or site.alt %}
{% ifAsync folder %}
  <section class="gallery-section{{ ' bg-alt' if (alternate_background_color) }}">
    <div class="wrapper page-wrapper">
      {% ifAsync heading %}<h2 class="heading" style="margin-bottom:1em">{{ heading }}</h2>{% endif %}

      <ul class="auto-grid gallery">

        {% set images = image_info | findFolder(folder) | shuffle %}

        {% for image in images -%}
          {% set image_path = image.url %}
          {% set info = image_info | findImage(image_path) %}
          {% ifAsync info and info.photographer_name %}
            {% set image_title = alt_text + ' - Photo credit ' + info.photographer_name %}
          {% else %}
            {% set image_title = alt_text %}
          {% endif %}
          {% if image.aspect_ratio > 1.3 %}
            {% set aspect_ratio = "4:3" %}
            {% set width = "640" %}
            {% set height = "480" %}
          {% elif image.aspect_ratio > 0.76 %}
            {% set aspect_ratio = "1:1" %}
            {% set width = "320" %}
            {% set height = "320" %}
          {% else %}
            {% set aspect_ratio = "2:3" %}
            {% set width = "320" %}
            {% set height = "480" %}
          {% endif %}
          <li class="hover-scale aspect aspect{{ aspect_ratio | replace(':','x') }}">
            <figure class="round" style="background-image:url('{% lqip path=image_path, params='/focus=auto/cover=' + aspect_ratio %}')">
              <noscript><a href="{% twic path=image_path %}" style="height:100%;display:block"><img width="{{ width }}" height="{{ height }}" class="round" src="{% twic path=image_path, params='/focus=auto/cover=' + width + 'x' + height %}" alt="{{ alt_text }}" title="{{ image_title }}" style="cursor:pointer" /></a></noscript>
              <img width="{{ width }}" height="{{ height }}" class="req-js round" data-twic-src="{% twic_dyn path=image_path %}" data-twic-focus="auto" data-twic-transform="cover" data-twic-step="10" data-twic-bot="cover={{ width }}x{{ height }}" alt="{{ alt_text }}" title="{{ image_title }}" src="{% placeholder width,height %}" onclick="openLightbox('#item{{ loop.index }}')" style="cursor:pointer" />
            </figure>
          </li>
          {%- endfor %}
      </ul>

    </div>
  </section>

  <div id="lightbox" class="slider-controls">
    <ul class="slider">
      {% for image in images -%}
        {% set image_path = image.url %}
        {% set info = image_info | findImage(image_path) %}
        {% set width = info.width or 1024 %}
        {% set height = info.height or 1024 %}
        {% set aspect_ratio = info.aspect_ratio or 1 %}
        <li id="item{{ loop.index }}" class="slider-item">
          <figure>
            <div style="background-image:url({% twic path=image_path, params='/output=preview' %})">
              {# <div style="background-image:url('{% lqip path=image_path, params='/focus=auto/cover=' + aspect_ratio + ':1' %}')"> #}
              <img width="{{ width }}" height="{{ height }}" data-twic-src="{% twic_dyn path=image_path %}" data-twic-step="50" data-twic-transform="contain" data-twic-bot="contain=1024x1024" alt="{{ alt_text }}" src="{% placeholder width,height %}" />
            </div>
            <figcaption class="wrapper text-wrapper">
              <div class="text-center text-shadow">
                <h4>{{ alt_text }}</h4>
                <p class="link-light"><a href="{{ site.mailto_obf | safe }}?subject=Gallery%20Enquiry&amp;body=Hi%20Annwyn%0D%0A%0D%0A{{ alt_text }}%0D%0A{% twic path=image_path, params='contain=1024x1024' %}">Email Floriade</a> about this image</p>
                <p class="link-light">
                {% ifAsync info and info.photographer_name %}
                  {% ifAsync info and info.photographer_url %}
                    Photo credit <a href="{{ info.photographer_url | safe }}" target="_blank" rel="noopener">{{ info.photographer_name }}</a>
                  {% else %}
                    Photo credit {{ info.photographer_name | safe }}
                  {% endif %}
                {% else %}
                  &nbsp;
                {% endif %}
                </p>
              </div>
            </figcaption>
          </figure>
        </li>
        {%- endfor %}
    </ul>
    <nav class="toggle-captions" onclick="toggleCaptions()">
      <span role="button" title="Toggle Captions" aria-label="Toggle Captions">{{ '/src/svg/comment-o.svg' | svgContents | safe }}</span>
    </nav>
    <nav class="close" onclick="closeLightbox()">
      <span role="button" title="Close" aria-label="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</span>
    </nav>
    <nav class="prev" onclick="scrollToPrevItem('#lightbox')">
      <span role="button" title="Previous" aria-label="Previous">{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span>
    </nav>
    <nav class="next" onclick="scrollToNextItem('#lightbox')">
      <span role="button" title="Next" aria-label="Next">{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span>
    </nav>
            </div>
          {% endif %}
