{% set heading = section.heading %}
{% set image_path = section.image %}
{% set alt_text = section.alt_text %}
{% set caption = section.caption %}
{% set alternate_background_color = section.alternate_background_color %}
{% set info = image_info | findImage(image_path) %}
<section class="image-section{{ ' bg-alt' if (alternate_background_color) }}">
  {% ifAsync heading %}<h2 class="heading">{{ heading }}</h2>{% endif %}
  <div class="wrapper text-wrapper">
    <figure class="vertical center">
      <div style="background-image:url('{% lqip path=image_path %}')">
        <noscript><img src="{% twic path=image_path, params='/resize=800' %}" alt="{{ alt_text }}" /></noscript>
        <img class="req-js" data-twic-src="{% twic_dyn path=image_path %}" data-twic-step="50" data-twic-bot="contain=800x800" alt="{{ alt_text }}" src="{{ site.transgif }}" />
      </div>
      {% ifAsync caption %}
        <figcaption class="caption">{{ caption }}</figcaption>
      {% endif %}
      {% ifAsync info and info.photographer_name %}
        <figcaption class="caption small">Photo credit : 
          {% ifAsync info and info.photographer_url %}
            <a href="{{ info.photographer_url | safe }}" target="_blank" rel="noopener"> {{ info.photographer_name | safe }}</a>
          {% else %}
            {{ info.photographer_name | safe }}
          {% endif %}
        </figcaption>
      {% endif %}
    </figure>
  </div>
</section>
