<section class="text-section{{ ' bg-alt' if (section.alternate_background_color) }}">
  <article class="wrapper text-wrapper text-{{ (section.align | lower) or 'left' }}{{ ' bigfonts font-secondary' if section.bigfonts }}">
    {% set button = section.button %}
    {% markdown section.text %}
    {% if button.text %}
      <div class="text-center font-size-0"><a class="button" role="button" href="{{ button.link }}"{{ ' target="_blank" rel="noopener"' | safe if button.new_page }}>{{ button.text }}</a></div>
    {% endif %}
  </article>
</section>
