{% set heading = section.heading %}
{% set videoId = section.videoId %}
{% set alternate_background_color = section.alternate_background_color %}
<section class="youtube-section{{ ' bg-alt' if (alternate_background_color) }}">
  <div class="wrapper flow">
    {% ifAsync heading %}<h2 class="heading">{{ heading }}</h2>{% endif %}
    <lite-youtube videoid="{{ videoId }}" style="background-image: url('https://i.ytimg.com/vi/{{ videoId }}/maxresdefault.jpg');">
      <button type="button" class="lty-playbtn">
        <span class="lyt-visually-hidden">Play Video</span>
      </button>
    </lite-youtube>
    <noscript style="display:block">
      <a style="display:block;width:100%;max-width:720px;margin:0 auto" href="https://youtu.be/{{ videoId }}" target="_blank" rel="noopener">
        <img src="https://i.ytimg.com/vi/{{ videoId }}/maxresdefault.jpg" alt="YouTube video" width="1280" height="720">
        <p class="caption">Click to Play</p>
      </a>
      <style>lite-youtube{display:none}</style>
    </noscript>
  </div>
</section>
