---
layout: email/base.njk
permalink: email/contact-thankyou.html
permalinkBypassOutputDir: true
sitemap:
  ignore: true
---
<table role="presentation" width="100%">
  <tr>
    <td style="padding:40px 10px">
      <h2>Hi %name%,</h2>
      <p>We have received your message and will endeavour to respond to your enquiry as soon as possible.</p>
      <p>Kind regards<br>Annwyn Tobin</p>
    </td>
    <td style="padding:40px 10px">
      <p>%message%</p>
    </td>
  </tr>
</table>
