{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}
  {% set jsonld %}
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
    {% for item in faq.faq -%}
      {
        "@type": "Question",
          "name": "{{ item.question }}",
          "acceptedAnswer": {
            "@type": "Answer",
              "text": "{{ item.answer }}"
          }
      {{ '}' if loop.last else '},' }}
    {% endfor -%}
    ]
  }
  {% endset %}

  <script type="application/ld+json">
    {{ jsonld | jsonmin | safe }}
  </script>

  {% set css %}
  .faq label{
    cursor: pointer;
    position: relative;
    display: block;
    padding-right: 30px;
  }

  .faq label::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: 10px;
    border-left: 8px solid transparent;
    border-top: 8px solid currentColor;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin-right: -4px;
    margin-top: -4px;
  }

  .faq input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
  }

  .faq input[type="checkbox"]:checked ~ h3 label::after {
    border-left: 8px solid transparent;
    border-bottom: 8px solid currentColor;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    margin-right: -4px;
    margin-top: -12px;
  }

  .faq p {
    padding: 0;
    max-height: 0;
    overflow: hidden;
  }

  .faq input[type="checkbox"]:checked ~ h3 ~ p {
    padding: 1em;
    max-height: 100%;
  }

  @media screen and (max-width: 420px) {
    .faq input[type="checkbox"]:checked ~ h3 ~ p {
      padding: 1em 0 0 0;
    }
  }
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>

{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}
  <main>
  <section>
    <div class="wrapper">
      <ul class="faq vertical flow center" style="--flow-space:var(--step-0)">
        {% for item in faq.faq -%}
          <li class="round-box border-shade3 bg-alt text-center wrapper text-wrapper" style="padding:0.5em">
            <input id="faq_{{ loop.index }}" type="checkbox">
            <h3 class="heading"><label for="faq_{{ loop.index }}">{{ item.question | pronoun | safe }}</label></h3>
            <p>{{ item.answer }}</p>
          </li>
        {% endfor -%}
      </ul>
    </div>
  </section>
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}
