{% extends "layouts/base.njk" %}

{% block content %}
  <main class="canvas center min-height100vh" style="position:relative">
  <figure class="background" style="filter:brightness(60%)">
    {% set image_path = header_image or site.header_image %}
    <img class="bg cover" srcset="{% twic path=image_path, sizes=image_sizes %}" width="1024" height="1024" sizes="100vmax" src="{% twic path=image_path %}" style="background-image:url('{% lqip path=image_path %}')" alt="" />
  </figure>
  <div id="content">
    <div class="bg-alt vertical center round wrapper text-wrapper flow font-secondary text-center" style="--measure:60ch;padding:var(--step-2);margin:var(--step--1)">
      <a href="/" style="display:block" tabindex="-1">
        <figure class="logo">
          <img src="{{ '/icons/floriade-logo-dark.png' | url }}" style="opacity:0.66" width="320" height="269" alt="Floriade logo" loading="eager" decoding="async" />
        </figure>
      </a>
      <h1 style="margin-top:0">{{ (header_title or title) | addNbsp | lower | safe }}</h1>
      {% if subheading %}<h2>{{ subheading | addNbsp | lower | safe }}</h2>{% endif %}
      {% if text %}<p id="p" class="text-center">{{ text | safe }}</p>{% endif %}
      {{ content | safe }}
      <a class="button" href="/">Return to Homepage</a>
    </div>
  </div>
  </main>
  <script>document.addEventListener("DOMContentLoaded",function(){var query=window.location.search.substring(1);if(query){var vars=query.split("&");for(var i=0;i<vars.length;i++){var pair=vars[i].split("=");document.getElementById(pair[0]).innerHTML=decodeURIComponent(pair[1].replace(/\+/g,' '));document.getElementById(pair[0]).style.display="block";}}},false);</script>
{% endblock %}
