{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}
  {% set css %}
  {% include "css/slider.css" %}
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>

  {% set jsonld %}  
  {
    "@context": "http://www.schema.org",
    "@type": "Florist",
    "name": "{{ site.name }}",
    "@id": "{{ site.url }}",
    "url": "{{ site.url }}",
    "email": "{{ site.email }}",
    "logo": "{{ site.url }}{{ site.logo }}",
    "image": "{{ site.url }}{{ site.social_image }}",
    "description": "{{ site.description | safe }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ site.address }}",
      "addressLocality": "{{ site.address_locality }}",
      "addressRegion": "{{ site.address_region }}",
      "postalCode": "{{ site.address_postcode }}",
      "addressCountry": "New Zealand"
    },
    "hasMap": "{{ site.google_maps }}",
    "openingHoursSpecification": [
      {%- for day, rsh in regular_shop_hours -%}
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "{{ day | capitalize }}"
          {%- if rsh.closed === false -%}
          ,"opens": "{{ rsh.opens_at | twelveHourTime | lower }}",
          "closes": "{{ rsh.closes_at | twelveHourTime | lower }}"
          {%- endif -%}
        }{{ ',' if not loop.last }}
      {%- endfor -%}
    ],
    "telephone": "{{ site.phone_intl }}",
    "sameAs": [
      "{{ site.facebook }}",
      "{{ site.instagram }}",
      "{{ site.pinterest }}"
    ]
  }
  {% endset %}

  <script type="application/ld+json"> 
    {{ jsonld | jsonmin | safe }}
  </script>
{% endblock %}

{% block content %}
  <main>
  {% include "partials/title-page.njk" %}
  {% asyncAll section in page_sections %}
    {% set template = 'partials/' + section.template + '.njk' %}
    {% include template %}
  {% endall %}
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/slider.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
  {# <script>document.addEventListener("DOMContentLoaded",function(){playVideo();},false);function playVideo(){let video=document.getElementById("bg-video");if(window.innerWidth>750){video.setAttribute("autoplay","");video.play();};}</script> #}
{% endblock %}
