{% extends "layouts/base.njk" %}

{% block content %}
  <main>
  {% include "partials/title-page.njk" %}
  {% asyncAll section in page_sections %}
    {% set template = 'partials/' + section.template + '.njk' %}
    {% include template %}
  {% endall %}
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {# <script>document.addEventListener("DOMContentLoaded",function(){playVideo();},false);function playVideo(){let video=document.getElementById("bg-video");if(window.innerWidth>750){video.setAttribute("autoplay","");video.play();};}</script> #}
{% endblock %}
