{% extends "layouts/base.njk" %}

{% block content %}
  {% include "partials/header.njk" %}
  <main>
  {% asyncAll section in page_sections %}
    {% set component = 'components/' + section.type + '.njk' %}
    {% include component %}
  {% endall %}
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

