{% extends "layouts/base.njk" %}

{% block content %}
  {% include "partials/header.njk" %}
  <main>
  {% asyncAll section in page_sections %}
    {% set template = 'partials/' + section.type + '.njk' %}
    {% include template %}
  {% endall %}
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

