{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}
  {% set css %}
  {% include "css/slider.css" %}
  {% include "css/gallery.css" %}
  {% include "css/form.css" %}
  {% include "css/lite-yt-embed.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  {% ifAsync page.url != "/" %}
  {% include "partials/header.njk" %}
  {% endif %}
  <main>
  {% asyncAll section in page_sections %}
  {% ifAsync section.type %}
    {% set debug = page.fileSlug + ' : ' + section.type %}
    {{ debug | log }}
    {% set component = 'components/' + section.type + '.njk' %}
    {% include component %}
  {% endif %}
  {% endall %}
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/lite-yt-embed.js" %}
  {% include "js/slider.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
