{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}
  {% set css %}
    {% include "css/form.css" %}
  .product-card {
    display:flex;
    flex-direction:column;
    --radius:0.4rem;
    border-radius:var(--radius);
    border:1px solid rgba(0,0,0,0.2);
    margin:0 auto;
  }
  .product-card > * {
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
  }
  @media screen and (orientation:portrait) and (min-width:750px) {
    .product-card {
      max-width:90%;
    }
  }
  .product-card figure {
    border-top-left-radius:var(--radius);
    border-top-right-radius:var(--radius);
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
  }
  .product-card figure > div {
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
  }
  .product-card .content {
    padding:1em;
    background-color:var(--color-alt);
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-left-radius:var(--radius);
    border-bottom-right-radius:var(--radius);
  }
  .product-card .content > div {
    flex-grow:1;
  }
  @media screen and (orientation:landscape) and (min-width:850px) {
    .product-card {
      flex-direction:row;
    }
    .product-card > * {
      max-width:50%;
    }
    .product-card figure {
      border-top-left-radius:var(--radius);
      border-top-right-radius:0;
      border-bottom-left-radius:var(--radius);
      border-bottom-right-radius:0;
    }
    .product-card .content {
      border-top-left-radius:0;
      border-top-right-radius:var(--radius);
      border-bottom-left-radius:0;
      border-bottom-right-radius:var(--radius);
    }
  }
  @media screen and (max-width:350px) {
    .radio-label {
      padding: 0.35em;
    }
  }
  @media screen and (min-width:351px) and (max-width:400px) {
    .radio-label {
      padding: 0.45em;
    }
  }
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}
  <main>
  {% set variants = product | findVariants %}
  {% set parents = product | findParents %}
  {% set images = product.images %}
  {% set images_count = images | length %}
  {% set anim_fade_time = 1 %}
  {% set anim_show_time = 3 %}
  {% set width = 1024 %}
  {% set height = 1024 %}
  {% set anim_duration = (anim_fade_time + anim_show_time) * images_count %}
  {% set one_second = 100.0 / anim_duration %}
  {% set section_name = (product.name | slug) + '-fade' %}
  {{ ( '<style>@keyframes ' + section_name + '{0%{opacity:0;}' + (anim_fade_time * one_second) + '%{opacity:1;}' + ((anim_fade_time + anim_show_time) * one_second) + '%{opacity:1;}' + ((anim_fade_time + anim_show_time + anim_fade_time) * one_second) + '%{opacity:0;}100%{opacity:0;}}</style>' ) | safe if images_count > 1 }}

  {% set category = shop_categories.categories | findCategory(product.category) %}
  {% set variant_heading = category.variant_heading or "Bouquet Size" %}
  {% set button_message = category.button_message or "Choose a Bouquet Size" %}

  {% include "partials/javascript-warning.njk" %}

  {% include "partials/view-cart-button.njk" %}

  <section>
    <div class="wrapper page-wrapper">
      <div class="product-card">
        {% if images_count == 1 %}
          {% set image_path = images[0] %}
          <div class="canvas">
            <figure>
              <div style="background-image:url('{% lqip path=image_path, params='/focus=auto/cover=1:1' %}')">
                <noscript><img width="{{ width }}" height="{{ height }}" src="{% twic path=image_path, params='/focus=auto/resize=1024/cover=1:1' %}" alt="" /></noscript>
                <img width="{{ width }}" height="{{ height }}" class="req-js" data-twic-src="{% twic_dyn path=image_path %}" data-twic-focus="auto" data-twic-transform="cover=1:1/max" data-twic-step="50" data-twic-bot="cover=1024x1024" alt="" src="{% placeholder width, height %}" />
              </div>
            </figure>
          </div>
        {% else %}
          <div class="canvas fader">
            {% for image_path in images %}
              {% set anim_delay = (anim_fade_time + anim_show_time) * loop.index0 %}
              <figure style="{{ ('animation-delay:' + anim_delay + 's;animation-name:' + section_name + ';animation-duration:' + anim_duration + 's') | safe }}">
                <div style="background-image:url('{% lqip path=image_path, params='/focus=auto/cover=1:1' %}')">
                  <noscript><img width="{{ width }}" height="{{ height }}" src="{% twic path=image_path, params='/focus=auto/resize=1024/cover=1:1' %}" alt="" /></noscript>
                  <img width="{{ width }}" height="{{ height }}" class="req-js" data-twic-src="{% twic_dyn path=image_path %}" data-twic-focus="auto" data-twic-transform="cover=1:1/max" data-twic-step="50" data-twic-bot="cover=1024x1024" alt="" src="{% placeholder width, height %}" />
                </div>
              </figure>
            {% endfor %}
          </div>
        {% endif %}
        <div class="content vertical center">
          <div class="vertical center middle flow">
            <h2 class="heading">{{ product.name }}</h2>
            {% if variants | length > 1 %}
              <h3 class="heading">{{ variant_heading }}</h3>
              <div class="radio-label-wrapper">
                {% for variant in variants %}
                  <input id="{{ variant.id }}" name="variant-id" type="radio" value="{{ variant.id }}" onclick="showAddToCart([{{ parents | safe }}])">
                  <label class="radio-label text-center round" for="{{ variant.id }}" x-apple-data-detectors="false">{{ variant.name }}</label>
                {% endfor %}
              </div>
            {% else %}
              <input name="variant-id" type="hidden" value="{{ variants[0].id }}">
            {% endif %}
            <button id="add-to-cart-button" disabled class="button" onclick="addToCart('{{ product.id }}','{{ product.category }}')"><span>{{ '/src/svg/cart-plus.svg' | svgContents | iconTextButton | safe }}</span>{{ 'Add to Cart' | lower }}</button>
            {% if button_message %}<p id="add-to-cart-message" class="caption">{{ button_message }}</p>{% endif %}
          </div>
          {% if category.footer %}<br><footer class="caption">{% markdown category.footer %}</footer>{% endif %}
        </div>
      </div>
      <div class="horizontal center middle" style="margin-top:2em">
        <a class="button" style="margin-left:auto;margin-right:auto" href="/shop/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | iconTextButton | safe }}</span><p>Continue Shopping</p>
        </a>
        {# <br><button class="button" onclick="clearCart()">{{ 'Clear Cart' | lower }}</button> #}
      </div>
    </div>
  </section>

  <script>document.addEventListener("DOMContentLoaded",function(){showAddToCart([{{ parents | safe }}]);showViewCart();},false);</script>
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/shop.js" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
