{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}
  {% set css %}
    {% include "css/form.css" %}
    #checkout-form > * + * {
      margin-top: 1em;
    }
    #checkout-form > * + h2 {
      margin-top: 2em;
    }
    #items {
      display:grid;
      grid-template-columns:1fr auto;
      align-items:center;
    }
    #items > * {
      width:100%;
      height:100%;
      padding:1em 0.5em 1em 0;
    }
    #items > *:nth-child(2n+0) {
      padding-right:0;
    }
    #items > * + *, .top-border {
      border-top:1px solid var(--color-shade3);
    }
    #items > *:nth-child(2) {
      border-top:none;
    }
    #summary {
      display:grid;
      grid-template-columns:auto 1fr auto;
      align-items:center;
      line-height:var(--step-3);
      vertical-align:middle;
    }
    #summary > * {
      width:100%;
      height:100%;
      padding:1em 0.5em 1em 0;
    }
    #summary > *:nth-child(3n+0) {
      padding-right:0;
    }
    .delivery-group,
    .delivery-address-group {
      display: none;
    }
  {% endset %}

  <style>
    {{ css | cssmin | safe }}
  </style>
{% endblock %}

{% block content %}
  {% include "partials/header.njk" %}
  {% include "partials/javascript-warning.njk" %}
  <main>
  <section id="checkout" style="min-height:50vh">
    <div class="wrapper text-wrapper">

      <div id="empty-cart" class="vertical center middle flow" style="display:none;--flow-space:2em">
        <h2 class="heading">Your Cart is Empty</h2>
        <a class="button" href="/shop/">
          <span>{{ '/src/svg/arrow-left.svg' | svgContents | iconTextButton | safe }}</span><p>Continue Shopping</p>
        </a>
      </div>

      <form id="checkout-form" action="/php/create-checkout-session.php" method="post" class="width100" style="display:none">

        <h2 class="delivery-group heading text-center">Delivery</h2>
        <div class="delivery-group flow shop-panel">

          <div class="radio-label-wrapper">
            <input checked id="delivery-option-none" name="delivery-option" type="radio" value="none" style="display:none">
            <input class="delivery-group" id="delivery-option-delivery" name="delivery-option" type="radio" value="delivery" onclick="selectDeliveryOption('delivery')">
            <label class="radio-label text-center round" for="delivery-option-delivery" style="min-width:10em" x-apple-data-detectors="false">Delivery</label>
            <input class="delivery-group" id="delivery-option-pickup" name="delivery-option" type="radio" value="pickup" onclick="selectDeliveryOption('pickup')">
            <label class="radio-label text-center round" for="delivery-option-pickup" style="min-width:10em" x-apple-data-detectors="false">Pickup in Store</label>
          </div>
            <p class="caption text-center text-lowercase" style="margin-top:0">Please choose Delivery or Pickup in Store</p>

          <div>
            <label for="delivery-name"><h4 class="heading">Recipient Name</h4></label>
            <input class="delivery-group input" id="delivery-name" name="delivery-name" type="text" autocomplete="name" data-error="Recipient Name is required" onfocus="hideError()" onblur="cacheValue(this)">
            <p class="caption text-left text-lowercase">Name of the person receiving the flowers</p>
          </div>

          <div class="delivery-address-group">
            <label for="delivery-phone"><h4 id="delivery-phone-label" class="heading">Recipient Phone</h4></label>
            <input class="delivery-address-group input" id="delivery-phone" name="delivery-phone" type="tel" autocomplete="tel" inputmode="tel" data-error="Recipient Phone is required" onfocus="hideError()" onblur="cacheValue(this)">
            <p id="delivery-phone-caption" class="caption text-left text-lowercase">In case we need to contact the recipient to make alternative delivery arrangements</p>
          </div>

          <div class="delivery-address-group">
            <label for="delivery-address"><h4 class="heading">Delivery Address</h4></label>
            <input class="delivery-address-group input" id="delivery-address" name="delivery-address" type="text" autocomplete="address-line1" data-error="Delivery Address is required" onfocus="hideError()" onblur="cacheValue(this)">
            <p class="caption text-left text-lowercase">Street address for delivery - Please include appartment number, office level etc</p>
          </div>

          <div class="delivery-address-group">
            <label for="delivery-suburb-select"><h4 class="heading">Delivery Suburb</h4></label>
            <div class="select" id="delivery-suburb-select">
              <select id="delivery-suburb" class="delivery-address-group" name="delivery-suburb" data-error="Delivery Suburb is required" onfocus="hideError()" onblur="cacheValue(this)" onchange="updateTotal()">
                <option default disabled selected hidden value="">please choose...</option>
                {% for suburb, fee in delivery_fees -%}
                  {% if suburb != "pickup in store" %}
                    <option value="{{ suburb }}">{{ suburb | title }}&nbsp;</option>
                  {% endif %}
                  {%- endfor %}
              </select>
              <span class="focus"></span>
            </div>
            <p class="caption text-left text-lowercase">Please choose delivery suburb to calculate delivery fee</p>
          </div>

          <div>
            <label for="delivery-date-select"><h4 id="delivery-date-label" class="heading">Delivery Date</h4></label>
            <div class="select" id="delivery-date-select">
              <select id="delivery-date" class="delivery-group" name="delivery-date" data-error="Delivery Date is required" onfocus="hideError()" onblur="cacheValue(this)" onchange="updateTotal()">
                <option default disabled selected hidden value="">please choose...</option>
              </select>
              <span class="focus"></span>
            </div>
            <p id="delivery-date-caption" class="caption text-left text-lowercase">Minimum $20 delivery fee on Saturdays - Orders must be received by 10am for same day delivery</p>
          </div>
        </div>
        <p class="delivery-group font-size-1"></p>

        <h2 class="delivery-group heading text-center">Gift tag Message</h2>
        <p class="delivery-group caption text-center text-lowercase" style="margin-top:0">(optional)</p>
        <div class="delivery-group shop-panel">
          <textarea maxlength="500" class="delivery-group input" id="gift-tag-message" name="gift-tag-message" placeholder="If you would like to send the recipient a message along with the flowers, please enter it here." rows="6" onfocus="hideError()" onblur="cacheValue(this)"></textarea>
          <p class="caption text-lowercase">Max 500 chars</p>
        </div>
        <p class="delivery-group font-size-1"></p>

        <h2 class="delivery-group heading text-center">Special Requests</h2>
        <p class="delivery-group caption text-center text-lowercase" style="margin-top:0">(optional)</p>
        <div class="delivery-group shop-panel">
          <textarea maxlength="500" class="delivery-group input" id="special-requests" name="special-requests" placeholder="Please enter any special delivery instructions. If you would like to request a specific variety or colour of flowers, please give at least 48 hours notice. We cannot guarantee all floral varieties or colours due to seasonal availability and demand. We will let you know if we are unable to supply your request." rows="6" onfocus="hideError()" onblur="cacheValue(this)"></textarea>
          <p class="caption text-lowercase">Max 500 chars</p>
        </div>
        <p class="delivery-group font-size-1"></p>

        <h2 class="heading text-center">Order Summary</h2>
        <div class="shop-panel">
          <div id="items" class="font-secondary"></div>
          <hr>
          <div id="summary" class="font-secondary">
            <h3 class="heading">Cart Total</h3>
            <p id="cart-count" class="color-shade2" style="padding-left:2em"></p>
            <p id="cart-total" class="text-right"></p>

            <h3 id="delivery-heading" class="delivery-group heading">Delivery</h3>
            <h3 id="delivery-suburb-name" class="delivery-group heading"></h3>
            <p id="delivery-total" class="delivery-group text-right">TBC</p>

            <h3 class="top-border font-size-1 text-lowercase">TOTAL</h3>
            <p class="top-border"></p>
            <p id="total" class="top-border font-size-1 text-right">TBC</p>
          </div>
        </div>

        <h2 class="heading text-center">Your Details</h2>

        <div class="flow shop-panel">
          <div>
            <label for="cardholder-name"><h4 class="heading">Your Name</h4></label>
            <input class="input" id="cardholder-name" name="cardholder-name" type="text" autocomplete="name" data-error="Your Name is required" onfocus="hideError()" onblur="cacheValue(this)">
            <p class="caption text-left text-lowercase">In case we need to contact you regarding your order</p>
          </div>

          <div>
            <label for="cardholder-phone"><h4 class="heading">Your Phone</h4></label>
            <input class="input" id="cardholder-phone" name="cardholder-phone" type="tel" autocomplete="tel" inputmode="tel" data-error="Your Phone is required" onfocus="hideError()" onblur="cacheValue(this)">
            <p class="caption text-left text-lowercase">In case we need to contact you regarding your order</p>
          </div>

          <div>
            <label for="cardholder-email"><h4 class="heading">Your Email</h4></label>
            <input class="input" id="cardholder-email" name="cardholder-email" type="email" autocomplete="email" inputmode="email" data-error="Your Email is required" onfocus="hideError()" onblur="cacheValue(this)">
            <p class="caption text-left text-lowercase">We will send your receipt to this address</p>
          </div>

          {#
          <div>
            <label for="card-input"><h4 class="heading">Credit Card</h4></label>
            <div id="card-input" class="input" onfocus="hideError()"></div>
          </div>
          #}
        </div>

        <br>
        <hr>

        <div class="color-shade2 text-center font-secondary">
          <p>All prices are in New Zealand dollars <span style="white-space:nowrap">and include GST.</span></p>
          <p>By using this form you agree to our <a href="/terms-and-conditions/" target="_blank" title="Opens in a new page"><span style="white-space:nowrap">Terms and Conditions</span></a>.</p>
        </div>

        <div class="buttons swap">
          <a class="button" href="/cart/">
            <span>{{ '/src/svg/arrow-left.svg' | svgContents | iconTextButton | safe }}</span><p>Return to Cart</p>
          </a>
          <button id="place-order-button" disabled class="button bigfonts" type="submit" tabindex="0">
            <span id="cart-icon">{{ '/src/svg/credit-card.svg' | svgContents | iconTextButton | safe }}</span>
            <span id="spinner-icon" style="margin-right:0.5em;display:none">{{ '/src/svg/spinner.svg' | svgContents | iconTextButton | safe }}</span>
            <p id="submit-text">Payment</p>
          </button>
        </div>
        <div class="horizontal center">
          <span id="error-msg" class="error" role="alert" style="visibility:hidden">&nbsp;</span>
        </div>

        <div class="color-shade2 text-center font-size--1 font-secondary">
          <p>Floriade does not store your credit card details.</p>
          <p>All credit card transactions are secured by <a href="https://stripe.com" target="_blank" title="Opens in a new page">Stripe</a>.</p>
          <p>See their <a href="https://stripe.com/docs/security/stripe" target="_blank" title="Opens in a new page">security</a> and <a href="https://stripe.com/nz/privacy/" target="_blank" title="Opens in a new page">privacy</a> policies for details.</p>
        </div>

        <input id="cart-total-check" name="cart-total-check" type="hidden">
        <input id="delivery-total-check" name="delivery-total-check" type="hidden">
        <input id="cart" name="cart" type="hidden">
      </form>

    </div>
  </section>

  <script>document.addEventListener("DOMContentLoaded",function(){displayCheckout();},false);</script>
  </main>
  {% include "partials/footer.njk" %}
{% endblock %}

{% block foot %}
  {{ super() }}
  {% set js %}
  {% include "js/luxon.min.js" %}
  {% include "js/shop.js" %}
  {% include "js/shop-checkout.njk" %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>
{% endblock %}
