--- 
layout: layouts/base.njk 
title: Blog
description: Floriade Blog
header_image: "/fresh-flowers/fresh-flowers-by-floriade-00051"
header_title: Floral Stories
eleventyNavigation:
  order: 56
  key: Blog
---
{% set postslist = collections.blog %}
{% include "partials/postslist.njk" %}
