{# ----- Instagram Thumbnails ----- #}

{% set instagram_images = instagram_gallery | sortISO8601 | reverse | head(12) %}
<style>#instagram-grid{display:grid;gap:0.5em;grid-template-columns:1fr 1fr;}@media screen and (min-width:750px){ #instagram-grid{grid-template-columns:1fr 1fr 1fr;} }@media screen and (min-width:950px) and (orientation:landscape){ #instagram-grid{grid-template-columns:1fr 1fr 1fr 1fr;} }@media screen and (min-width:1400px){ #instagram-grid{grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;} }</style>
<hr>
<section>
  <div class="wrapper page-wrapper flow" style="--flow-space:2em">
    <h2 class="heading text-center">Instagram</h2>
    <div class="horizontal center"><a href="{{ site.instagram }}" class="button" role="button" target="_blank" rel="noopener">Follow us</a></div>
    <div>
      <ul class="instagram-grid" id="instagram-grid">
        {% for item in instagram_images -%}
          <li class="aspect aspect1x1 hover-scale">
            <figure>
              {% set image_id = (item.thumbnail_url or item.media_url) %}
              <noscript><a href="{% insta_twic path=image_id %}" style="height:100%;display:block"><img class="round border-alt border2" src="{% insta_twic path=image_id, params='/focus=auto/cover=450x450' %}" width="450" height="450" alt="{{ item.caption | urldecode }}" style="cursor:pointer" /></a></noscript>
              <img class="req-js round border-alt border2" data-twic-src="image:instagram{{ image_id | replace(site.instagram_url,"") | safe }}" src="{{ site.transgif }}" width="450" height="450" alt="{{ item.caption | urldecode }}" onclick="openLightbox('#item{{ loop.index }}')" style="background-image:url({% insta_lqip path=image_id, params='/focus=auto/cover=450x450' %});cursor:pointer" />
            </figure>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{# ----- Instagram Lightbox ----- #}

{#
{% set instagram_image_sizes = [640, 750, 900, 1080, 1280, 1440] %}

<div id="lightbox" class="slider-controls">
  <ul class="slider">
    {% for item in instagram_images -%}
      <li id="item{{ loop.index }}" class="slider-item">
        <figure class="horizontal center middle">
          {% set lqip_path = site.cloudinary_url + "/c_fill,w_32,h_32,q_auto,f_jpg,g_auto,e_blur:100/" + (item.public_id | stripVersion) %}
          {% set lqip_data = lqip_path | imgLqip %}
          {% set image_path = site.cloudinary_url + "/c_fill,w_900,h_900,q_auto,f_auto,g_auto/" + (item.public_id | stripVersion) %}
          <img data-srcset="
          {%- for size in instagram_image_sizes -%}
          {{ site.cloudinary_url }}/w_{{ size }},c_fill,ar_1,q_auto,f_auto,g_auto/{{ item.public_id | stripVersion }} {{ size }}w{{ ',' if not loop.last }}
          {%- endfor -%}
          " sizes="100vmin" data-src="{{ image_path }}" src="{{ site.transgif }}" style="background-image:url({{ lqip_data }});background-size:contain" width="1400" height="1400" alt="{{ item.context.caption | urldecode }}" loading="lazy" decoding="async" />
          <figcaption class="wrapper text-wrapper">
            <div class="text-center text-shadow flow">
              <h4>{{ item.context.caption | urldecode }}</h4>
            </div>
          </figcaption>
        </figure>
      </li>
      {%- endfor %}
  </ul>
  <nav class="toggle-captions" onclick="toggleCaptions()">
    <span role="button" style="width:var(--step-1)" title="Toggle Captions" aria-label="Toggle Captions">{{ '/src/svg/comment-o.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="close" onclick="closeLightbox()">
    <span role="button" style="width:var(--step-1)" title="Close" aria-label="Close">{{ '/src/svg/close.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="prev" onclick="scrollToPrevItem('#lightbox')">
    <span role="button" style="width:var(--step-1)" title="Previous" aria-label="Previous">{{ '/src/svg/chevron-left.svg' | svgContents | safe }}</span>
  </nav>
  <nav class="next" onclick="scrollToNextItem('#lightbox')">
    <span role="button" style="width:var(--step-1)" title="Next" aria-label="Next">{{ '/src/svg/chevron-right.svg' | svgContents | safe }}</span>
  </nav>
</div>

#}
