<ul class="postlist vertical flow">
  {% for post in postslist %}
    <li>
      <h2 class="heading">
        <a href="{{ post.url | url }}">{{ post.data.title | pronoun | safe }}</a>
      </h2>
      <div class="text-center">
        <p>
        {{ post.data.description }}
        </p>
        <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </div>
    </li>
  {% endfor %}
</ul>
