<table>
  {% set monday = now_nz.startOf('week') %}
  {% set days = [ monday, monday.plus({days:1}), monday.plus({days:2}), monday.plus({days:3}), monday.plus({days:4}), monday.plus({days:5}), monday.plus({days:6}) ] %}
  {% for day in days %}
    {% if ( day.toFormat("dd LLL yyyy") in shop_closed_dates ) and ( shop_hours[ day.weekdayLong | lower ] | lower != "closed" ) %}
      <tr><td>{{ day.weekdayLong }}&nbsp;</td><td>&nbsp;Closed {{ day.toFormat("dd LLL yyyy") }}</td></tr>
    {% else %}
      <tr><td>{{ day.weekdayLong }}&nbsp;</td><td>&nbsp;{{ shop_hours[ day.weekdayLong | lower ] }}</td></tr>
    {% endif %}
  {% endfor %}
</table>
