<div id="view-cart" class="horizontal center middle text-center" style="display:none;padding:calc(var(--section-padding) / 3) 0">
  <a class="button" role="button" aria-label="View your Cart" href="/cart/">
    <span>{{ '/src/svg/shopping-cart.svg' | svgContents | iconTextButton | safe }}</span><p>View your Cart</p>
  </a>
</div>
<hr>
